<h2 class="page-header"><i class="glyphicon glyphicon-shopping-cart"></i></h2>
  <div class="form-group">
      <table class="order">
          <thead>
              <tr>
                  <th class="drink"><abbr title="Drink">Drink</abbr></th>
                  <th class="drink"><abbr title="Drink">Size</abbr></th>
                  <th class="drink"><abbr title="Drink">Quantity</abbr></th>
                  <th class="drink"><abbr title="Drink">Price</abbr></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>

                  </td>
              </tr>
          </tbody>
      </table>
  </div>
<button type="submit" class="btn btn-default">Pay Now</button>
<div class="total">
    <p>TOTAL</p>
</div>